h1,
h2,
p,
.btn-branding {
  color: black;
  font-family: "Playfair Display", serif;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 50px;
}

.hero {
  padding: 160px 115px;
  background-image: url(/images/herocover.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
}

.hero h2 {
  text-transform: uppercase;
  font-size: 77px;
}

.hero p {
  font-size: 25px;
}

.btn-branding {
  text-transform: uppercase;
  background: white;
  border-radius: 50px;
  font-size: 20px;
  line-height: 25px;
  padding: 20px 20px;
}

@media screen and (min-width: 300px) {
  h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 32px;
  }
}

@media screen and (min-width: 300px) {
  .hero h2 {
    font-size: 77px;
  }
}

@media screen and (max-width: 500px) {
  .hero h2 {
    font-size: 35px;
  }
}

@media screen and (min-width: 300px) {
  .hero p {
    font-size: 25px;
  }
}

@media screen and (max-width: 500px) {
  .hero p {
    font-size: 15px;
  }
}

@media screen and (min-width: 300px) {
  .btn-branding {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .btn-branding {
    font-size: 10px;
    padding: 10px 10px;
  }
}

@media screen and (min-width: 300px) {
  .hero {
    max-height: 100%;
  }
}

@media screen and (max-width: 500px) {
  .hero {
    max-height: 50%;
    padding: 60px 80px;
  }
}
