/* font-family: 'Bebas Neue', sans-serif;
font-family: 'La Belle Aurore', cursive;
font-family: 'Playfair Display', serif; */

h1 {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
